# Ignore Python bytecode
__pycache__/
*.pyc

# macOS system files
.DS_Store

# PyInstaller or build artifacts
*.spec
dist/
build/

# VSCode and JetBrains IDE configs
.vscode/
.idea/

# Local virtual environment
daw-git-env/
.DS_Store

test_output.log
