attrs==25.3.0
deprecation==2.1.0
eyeD3==0.9.8
filetype==1.2.0
gitdb==4.0.12
GitPython==3.1.44
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
mutagen==1.47.0
packaging==25.0
pluggy==1.5.0
Pygments==2.19.1
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
pytest==8.3.5
pytest-env==1.1.5
pytest-qt==4.4.0
pytest-rich==0.2.0
pytest-timeout==2.4.0
rich==14.0.0
setuptools==80.9.0
smmap==5.0.2
wheel==0.45.1
